:root {
  --black-color: #0a0a0a;
  --darkpink-color: #b18e72;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}
.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}
.logo {
  font-size: 24px;
  line-height: 36px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}
.menu li {
  display: inline-block;
}
.menu a {
  text-decoration: none;
  color: var(--black-color);
  size: 16px;
  line-height: 24px;
}
.menu {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: auto;
}
.social-icons {
  display: flex;
  gap: 5px;
  margin-left: 25px;
  align-items: center;
  width: 20px;
  height: 20.59px;
  opacity: 0px;
}
.sarch-icons {
  width: 18px;
  height: 18px;
  border: 2px;
}
.wrapper {
  padding: 10px 5px 10px 5px;
}
.container img {
  width: 100%;
  height: 600px;
}
.img-container {
  position: relative;
}
.square-frame {
  width: 331px;
  height: 453px;
  left: 144px;
  border: 6px solid #b18e72;
  position: absolute;
  left: 140px;
  top: 69px;
}
.villa_text {
  font-family: "Poppins", serif;
  font-weight: 500;
  position: absolute;
  width: 464px;
  height: 180px;
  color: #ffffff;
  font-size: 80px;
  line-height: 80px;
  top: 128px;
  left: 200px;
  z-index: 999;
}
.villa_price {
  font-family: "Poppins", serif;
  font-weight: 500;
  width: 175px;
  height: 92px;
  top: 248px;
  left: 61px;
  position: absolute;
  font-size: 36px;
  line-height: 46px;
  color: #ffffff;
}
.frame-btn {
  top: 369px;
  left: 61px;
  padding: 0.5px 25px 0.5px 25px;
  position: absolute;
  width: 168px;
  height: 47px;
  gap: 10px;
  color: #0a0a0a;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 46px;
}
